.ui_title_wrap {
	
}
.ui_bottom button {
	
}
.ui_content_wrap {
	vertical-align: top; min-width: 9em;
}
.ui_overlay div {
	background: rgb(0, 0, 0); filter: alpha(opacity=40); opacity: 0.4;
}
.ui_loading_tip {
	background: url("../images/dialog/loading.gif") no-repeat center; margin: -8px 0px 0px -8px; width: 16px; height: 16px; text-indent: -9999em;
}
.ui_dialog_main {
	background: rgb(255, 255, 255);
}
.ui_title_wrap {
	_width: 100px;
}
.ui_title {
	left: 0px; top: 0px; width: 100%; height: 26px; position: absolute; _left: auto;
}
.ui_title_text {
	padding: 0px 60px 0px 12px; height: 26px; color: rgb(255, 255, 255); line-height: 25px; font-weight: 700; _padding: 0 90px 0 6px;
}
.ui_td_00 {
	background-image: url("../images/dialog/chrome_s.png"); background-repeat: no-repeat;
}
.ui_td_02 {
	background-image: url("../images/dialog/chrome_s.png"); background-repeat: no-repeat;
}
.ui_td_10 {
	background-image: url("../images/dialog/chrome_s.png"); background-repeat: no-repeat;
}
.ui_td_12 {
	background-image: url("../images/dialog/chrome_s.png"); background-repeat: no-repeat;
}
.ui_close {
	background-image: url("../images/dialog/chrome_s.png"); background-repeat: no-repeat;
}
.ui_td_00 {
	background-position: -46px -9px; width: 5px; height: 26px;
}
.ui_td_02 {
	background-position: -53px -9px; width: 5px; height: 26px;
}
.ui_td_10 {
	background-position: -62px 0px; background-repeat: repeat-y;
}
.ui_td_12 {
	background-position: -66px 0px; background-repeat: repeat-y;
}
.ui_td_20 {
	
}
.ui_td_22 {
	
}
.ui_close {
	top: 4px; width: 18px; height: 18px; right: 6px; text-indent: -9999em; _right: 3px; _font-size: 0; _line-height: 0;
}
.ui_close:hover {
	background-position: 0px -19px;
}
.ui_td_01 {
	background-image: url("../images/dialog/border.png"); background-repeat: repeat-x;
}
.ui_td_01 {
	
}
.ui_td_21 {
	background: rgb(255, 255, 255); border-bottom-color: rgb(108, 146, 173); border-bottom-width: 1px; border-bottom-style: solid;
}
.ui_btns {
	
}
.ui_btns span {
	background-image: url("../images/dialog/btns.png"); background-repeat: no-repeat; background-color: transparent;
}
.ui_btns button {
	background-image: url("../images/dialog/btns.png"); background-repeat: no-repeat; background-color: transparent;
}
.ui_btns span {
	background-position: left -42px; padding: 0px 0px 0px 5px; overflow: hidden;
}
.ui_btns button {
	background-position: right 0px; padding: 0px 10px 0px 5px; border: 0px currentColor; height: 21px; line-height: 21px; max-width: 200px;
}
.ui_btns span:hover {
	background-position: left -63px;
}
.ui_btns span:hover button {
	background-position: right -21px;
}
.ui_resize {
	width: 10px; height: 10px;
}
html:hover .ui_btns button:focus {
	outline: 0px;
}
.ui_move_temp div {
	filter: alpha(opacity=40); opacity: 0.4; background-color: rgb(33, 79, 163);
}
.ui__icon {
	display: inline-block; background-image: url("../images/dialog/icons.png"); background-repeat: no-repeat;
}
.alert .ui__icon {
	background-position: 0px -96px; width: 48px; height: 48px; margin-right: 10px;
}
.confirm .ui__icon {
	background-position: 0px -144px; width: 48px; height: 48px; margin-right: 10px;
}
.error .ui__icon {
	background-position: 0px -48px; width: 48px; height: 48px; margin-right: 10px;
}
.succeed .ui__icon {
	width: 48px; height: 48px; margin-right: 10px;
}
.none_icon .ui__icon {
	display: none;
}
.ui_content_m .ui_content {
	margin: 0px; padding: 10px 1px; width: 100%;
}
.noSkin .ui_border {
	display: none;
}
.noSkin .ui_title_wrap {
	display: none;
}
.noSkin .ui__icon {
	display: none;
}
.noSkin .ui_bottom_wrap {
	overflow: hidden; display: none;
}
* html .noSkin .ui_btns {
	left: -99999em; height: 0px; overflow: hidden; position: absolute;
}
.noSkin .ui_content {
	margin: 0px;
}
.noSkin .ui__main {
	
}
.gb_tip_layer {
	height: 54px; color: rgb(96, 96, 96); line-height: 54px; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/gb_tip_layer.png"); background-repeat: no-repeat; _background-image: url(../images/gb_tip_layer_ie6.png);
}
.gb_tip_layer .gtl_ico_succ {
	height: 54px; color: rgb(96, 96, 96); line-height: 54px; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/gb_tip_layer.png"); background-repeat: no-repeat; _background-image: url(../images/gb_tip_layer_ie6.png);
}
.gb_tip_layer .gtl_ico_fail {
	height: 54px; color: rgb(96, 96, 96); line-height: 54px; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/gb_tip_layer.png"); background-repeat: no-repeat; _background-image: url(../images/gb_tip_layer_ie6.png);
}
.gb_tip_layer .gtl_ico_hits {
	height: 54px; color: rgb(96, 96, 96); line-height: 54px; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/gb_tip_layer.png"); background-repeat: no-repeat; _background-image: url(../images/gb_tip_layer_ie6.png);
}
.gb_tip_layer .gtl_ico_clear {
	height: 54px; color: rgb(96, 96, 96); line-height: 54px; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/gb_tip_layer.png"); background-repeat: no-repeat; _background-image: url(../images/gb_tip_layer_ie6.png);
}
.gb_tip_layer .gtl_end {
	height: 54px; color: rgb(96, 96, 96); line-height: 54px; font-size: 14px; font-weight: bold; float: left; background-image: url("../images/gb_tip_layer.png"); background-repeat: no-repeat; _background-image: url(../images/gb_tip_layer_ie6.png);
}
.gb_tip_layer {
	background-position: 0px -161px; padding: 0px 18px 0px 9px; left: 50%; top: 40%; margin-left: -130px; position: absolute; background-repeat: repeat-x;
}
.gb_tip_layer .gtl_ico_succ {
	background-position: -6px 0px; left: -45px; top: 0px; width: 45px; position: absolute;
}
.gb_tip_layer .gtl_end {
	top: 0px; width: 6px; right: -6px; position: absolute;
}
.gb_tip_layer .gtl_ico_fail {
	background-position: -6px -108px; left: -45px; top: 0px; width: 45px; position: absolute;
}
.gb_tip_layer .gtl_ico_hits {
	background-position: -6px -54px; left: -45px; top: 0px; width: 45px; position: absolute;
}
.gb_tip_layer .gtl_ico_clear {
	background-position: -6px 0px; left: -5px; top: 0px; width: 5px; position: absolute;
}
.gb_tip_layer img {
	margin: 19px 10px 0px 5px; float: left;
}
