@charset "utf-8";
			.clearfix {*zoom: 1;}			
			.clearfix::after {content: '';display: table;clear: both;}
			.list-block ul li a {color: #DCDCDC;display: block;width: 100%;height: 100%;text-align: center;}
			.index_pic img {display: block;float: left;width: 100%;}
			.swiper-slide img {width: 100%;}
			.swiper-container {width: 100%;}
			.swiper-slide {
				/* Center slide text vertically */
				display: -webkit-box;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-webkit-box-pack: center;
				-ms-flex-pack: center;
				-webkit-justify-content: center;
				justify-content: center;
				-webkit-box-align: center;
				-ms-flex-align: center;
				-webkit-align-items: center;
				align-items: center;
			}
			.card-content-inner {width: 16rem;margin: 0 auto;position: relative;background: #FFFFFF;}
			.index-card-content-inner::before {content: '';display: block;position: absolute;width: 4rem;border-bottom: 1px solid #AAAAAA;top: 1.8rem;left: 1rem;}
			.index-card-content-inner::after {content: '';display: block;position: absolute;width: 4rem;border-bottom: 1px solid #AAAAAA;top: 1.8rem;right: 1rem;}
			.card-content-inner p {text-align: center;margin: 0;}
			.bar:after{height: 0;}
			.grid-co{margin: .5rem 1rem;}
			.grid-co h1{font-size: .6rem;font-weight: lighter;color: #666666;border-bottom: 1px solid #999999;}
			.grid-co h1 span{font-size: 1rem;font-family:arial;}
			.grid-co p{font-size: .6rem;text-indent: 2em;letter-spacing: .04rem;text-align: justify;}
			.grid-co h2{font-size: .6rem;font-weight: lighter;color: #666666;}
			.grid-co ol{padding-left: 1rem;}
			.grid-co ol li{font-size: .6rem;letter-spacing: .04rem;text-align: justify;}
			.grid-co img{width: 100%;}
			.row-address p{text-indent: 0;}
			.content>img{width: 100%;}